h1 {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: var(--mdc-typography-headline1-font-size, 6rem);
  line-height: var(--mdc-typography-headline1-line-height, 6rem);
  font-weight: var(--mdc-typography-headline1-font-weight, 300);
  letter-spacing: var(--mdc-typography-headline1-letter-spacing, -0.015625em);
  -webkit-text-decoration: var(
    --mdc-typography-headline1-text-decoration,
    inherit
  );
  text-decoration: var(--mdc-typography-headline1-text-decoration, inherit);
  text-transform: var(--mdc-typography-headline1-text-transform, inherit);

  margin-block-start: 0;
  margin-block-end: 0;
}

h2 {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: var(--mdc-typography-headline2-font-size, 3.75rem);
  line-height: var(--mdc-typography-headline2-line-height, 3.75rem);
  font-weight: var(--mdc-typography-headline2-font-weight, 300);
  letter-spacing: var(
    --mdc-typography-headline2-letter-spacing,
    -0.0083333333em
  );
  -webkit-text-decoration: var(
    --mdc-typography-headline2-text-decoration,
    inherit
  );
  text-decoration: var(--mdc-typography-headline2-text-decoration, inherit);
  text-transform: var(--mdc-typography-headline2-text-transform, inherit);

  margin-block-start: 0;
  margin-block-end: 0;
}

h3 {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: var(--mdc-typography-headline3-font-size, 3rem);
  line-height: var(--mdc-typography-headline3-line-height, 3.125rem);
  font-weight: var(--mdc-typography-headline3-font-weight, 400);
  letter-spacing: var(--mdc-typography-headline3-letter-spacing, normal);
  -webkit-text-decoration: var(
    --mdc-typography-headline3-text-decoration,
    inherit
  );
  text-decoration: var(--mdc-typography-headline3-text-decoration, inherit);
  text-transform: var(--mdc-typography-headline3-text-transform, inherit);

  margin-block-start: 0;
  margin-block-end: 0;
}

h4 {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: var(--mdc-typography-headline4-font-size, 2.125rem);
  line-height: var(--mdc-typography-headline4-line-height, 2.5rem);
  font-weight: var(--mdc-typography-headline4-font-weight, 400);
  letter-spacing: var(
    --mdc-typography-headline4-letter-spacing,
    0.0073529412em
  );
  -webkit-text-decoration: var(
    --mdc-typography-headline4-text-decoration,
    inherit
  );
  text-decoration: var(--mdc-typography-headline4-text-decoration, inherit);
  text-transform: var(--mdc-typography-headline4-text-transform, inherit);

  margin-block-start: 0;
  margin-block-end: 0;
}

h5 {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: var(--mdc-typography-headline5-font-size, 1.5rem);
  line-height: var(--mdc-typography-headline5-line-height, 2rem);
  font-weight: var(--mdc-typography-headline5-font-weight, 400);
  letter-spacing: var(--mdc-typography-headline5-letter-spacing, normal);
  -webkit-text-decoration: var(
    --mdc-typography-headline5-text-decoration,
    inherit
  );
  text-decoration: var(--mdc-typography-headline5-text-decoration, inherit);
  text-transform: var(--mdc-typography-headline5-text-transform, inherit);

  margin-block-start: 0;
  margin-block-end: 0;
}

h6 {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: var(--mdc-typography-headline6-font-size, 1.25rem);
  line-height: var(--mdc-typography-headline6-line-height, 2rem);
  font-weight: var(--mdc-typography-headline6-font-weight, 500);
  letter-spacing: var(--mdc-typography-headline6-letter-spacing, 0.0125em);
  -webkit-text-decoration: var(
    --mdc-typography-headline6-text-decoration,
    inherit
  );
  text-decoration: var(--mdc-typography-headline6-text-decoration, inherit);
  text-transform: var(--mdc-typography-headline6-text-transform, inherit);

  margin-block-start: 0;
  margin-block-end: 0;
}

p {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: var(--mdc-typography-body1-font-size, 1rem);
  line-height: var(--mdc-typography-body1-line-height, 1.5rem);
  font-weight: var(--mdc-typography-body1-font-weight, 400);
  letter-spacing: var(--mdc-typography-body1-letter-spacing, 0.03125em);
  -webkit-text-decoration: var(--mdc-typography-body1-text-decoration, inherit);
  text-decoration: var(--mdc-typography-body1-text-decoration, inherit);
  text-transform: var(--mdc-typography-body1-text-transform, inherit);

  margin-block-start: 0;
  margin-block-end: 0;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
}

@media (max-width: 1920px) {
  html {
    --mdc-typography-headline1-font-size: 5.9983rem;
    --mdc-typography-headline2-font-size: 3.75rem;
    --mdc-typography-headline3-font-size: 2.9991rem;
    --mdc-typography-headline4-font-size: 2.0243rem;
    --mdc-typography-headline5-font-size: 1.4993rem;
    --mdc-typography-headline6-font-size: 1.25rem;
  }
}
@media (max-width: 1280px) {
  html {
    --mdc-typography-headline1-font-size: 5.3556rem;
    --mdc-typography-headline2-font-size: 3.333rem;
    --mdc-typography-headline3-font-size: 2.7849rem;
    --mdc-typography-headline4-font-size: 2.0243rem;
    --mdc-typography-headline5-font-size: 1.4993rem;
    --mdc-typography-headline6-font-size: 1.25rem;
  }
}
@media (max-width: 960px) {
  html {
    --mdc-typography-headline1-font-size: 4.7129rem;
    --mdc-typography-headline2-font-size: 2.9167rem;
    --mdc-typography-headline3-font-size: 2.5707rem;
    --mdc-typography-headline4-font-size: 1.8219rem;
    --mdc-typography-headline5-font-size: 1.3118rem;
    --mdc-typography-headline6-font-size: 1.25rem;
  }
}
@media (max-width: 600px) {
  html {
    --mdc-typography-headline1-font-size: 3.5rem;
    --mdc-typography-headline2-font-size: 2.375rem;
    --mdc-typography-headline3-font-size: 2rem;
    --mdc-typography-headline4-font-size: 1.5635rem;
    --mdc-typography-headline5-font-size: 1.25rem;
    --mdc-typography-headline6-font-size: 1.125rem;
  }
}
